/************* your name: Quynh Ngo

INSTRUCTIONS:
Comments starting with TO-DO have been included in this file to describe the needed styling: please translate these to the appropriate CSS declarations. 

Comments starting with TO-DO may be left in for reference or removed entirely: all other comments should be left as-is for ease of review.

You are discouraged from changing any provided CSS.

***** colour palette: *****
- mustard yellow (used for header, footer, and buttons): #E5AF42
- cornflower blue (used for hover states): #4278e5

*/


/************* site defaults *************/
body {
    width: 950px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.flex {
    display: flex
}
 

/************* site-wide text styling *************/

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 36px;
    margin-bottom: 12px;
}

.large-text {
    font-size: 24px;
}

.fake-button {
    background-color: #E5AF42;
    text-align: center;
    line-height: 3;
    border: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
}

main a:hover, footer a:hover {
    text-decoration: underline;
}

.fake-button:hover, .blue-button:hover {
    text-decoration: underline;
    background-color: #4278e5;
    color: white;
    cursor: pointer;
}
/************* header/footer styling *************/

header, footer {
    background-color: #E5AF42;
}

header {
    height: 150px;
    margin-bottom: 25px;
}

header img {
    width: 100px;
    height: 100px;
    padding: 25px 0px 25px 25px;
}

header h1 {
    margin: auto;
}

main {
    margin-bottom: 50px;
}

footer {
    height: 60px;
    font-weight: 200;
    text-align: center;
    padding: 15px;
}


/************* index page *************/

.index .flex img {
    float: right;
    width: 300px;
    margin-bottom: 50px;
    margin-left: 25px;
}

.index h2 {
    line-height: 36px;
}

.index p {
    margin-bottom: 12px;
}

.index .fake-button {
    width: 250px;
    margin-left: 150px;
}

/************* bookings page *************/

.booking-page {
    width: 600px;
    margin: auto;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.day-selector {
    margin-bottom: 12px;
    text-align: center;
}

.booking-page li {
    margin-left: 20px;
    width: 60px;
}

.booking-page li, .booking-page .small-button {
    border: 1px solid black;
}

.booking-page .small-button {
    padding: 5px;
}

.top-margin {
    margin-top: 24px;
    margin-bottom: 12px;
}

#clear-button {
    width: 200px;
    margin-bottom: 100px;
}

.clicked {
    background-color: #E5AF42;
}





/************* contact page *************/

#contact-page {
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-page label {
    width: 150px;
    text-align: right;
    margin: 24px;
}

#contact-page input {
    width: 300px;
    margin: 24px;
}

#contact-page textarea {
    height: 150px;
    margin-left: 24px;
    width: 300px;
}

#contact-page input,#contact-page textarea, #contact-page button {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 24px;
    border: 1px solid black;
}

#contact-page button {
    margin-left: 440px;
}